@import url(../blocks/header/header.css);
@import url(../blocks/list-info/list-info.css);
@import url(../blocks/figure-info/figure-info.css);
@import url(../blocks/bonus/bonus.css);
body {
  font-family: Roboto, Arial, sans-serif;
  color: #000;
  background-color: #f5f5f5;
}
.section--offset {
  padding-top: 50px;
}
/* .link {
  display: block;
  border-radius: 60px;
  padding: 11px 18px;

  height: 51px;
  max-width: 412px;
  margin: 0 auto;
  margin-top: 30px;

  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  background: #28bf68;
} */
h2 {
  margin-bottom: 30px;
  padding-left: 40px;
  position: relative;
  font-weight: 900;
  font-style: italic;
  font-size: 25px;
  line-height: 143%;
  letter-spacing: 0.04em;
}
h2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 5px;
  background-color: #28bf68;
}
ul {
  margin-bottom: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
ul li::marker {
  color: #28bf68;
}
